.user-admin-panel-wrap {
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 40%;
}

.user-admin-panel-wrap h2 {
    font-size: 30px;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    margin: 10px;
    padding: 5.5px;
}

img {
    border: solid;
    border-color: #000;
}