.artists-container {
  margin-top: 30px;
}

.artists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist_card {
  background-color: #2b2f32;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  margin: 15px;
  float: left;
  padding: 10px;
  color: #fff;
}

.artist_card:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.artist_card_image {
  width: 280px;
  height: 280px;
  float: left;
}

.artist_card_name {
  text-align: center;
}

.artist_card_name h3 {
  font-size: 25px;
  font-weight: bold;
}
