.artist-container {
    place-items: center;
    display: grid;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artist-container-view {
    border: none;
    border-radius: 10px;
    background-color: #ced4da;
    width: 1500px;
    height: 600px;
    margin-top: 50px;
    padding: 30px;
}

.artist-image {
    width: 570px;
    height: 570px;
    float: left;
    margin-left: 30px;
}

.artist-data {
    width: 840px;
    height: 560px;
    float: left;
    font-size: 20px;
}

.artist-data h3 {
    font-size: 30px;
}