.loginForm {
    font-size: medium;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

fieldset.loginForm {
    max-width: fit-content;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #929084;
}

input.loginForm {
    padding: 10px;
    margin-top: 20px;
    text-align: left;
    color: #1C1C1C;
    border-color: #929084;
    border-style: solid;
    border-radius: 4px;
}

input.loginForm:focus {
    background-color: #fff;
    padding: 12px;
}

button.loginForm {
    padding: 10px;
    margin-top: 20px;
    background-color: #2660A4;
    color: #fff;
    border-color: #2660A4;
    border-style: solid;
    border-radius: 4px;
}

button.loginForm:hover {
    background-color: #3772FF;
    border-color: #3772FF;
    cursor: pointer;
}

a.loginForm {
    color: #2660A4;
}

a.loginForm:hover {
    color: #3772FF;
}

h1.loginForm {
    font-size: 24px;
    letter-spacing: 3px;
    color: #1C1C1C;
}