.gallery {
  position: relative;
}

.filters-container {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.filters {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  transform: translateY(-110%);
  transition: transform 0.5s ease-in-out;
  height: fit-content;
}

.filters.show {
  transform: translateY(0%);
}
