.gallery {
  position: relative;
}

<<<<<<< HEAD
.filters-container .offers-container {
=======
.filters-container, .offers-container {
>>>>>>> 2a409a2a7127c6170586dce913d334e1b1f341ca
  position: relative;
  height: fit-content;
  width: fit-content;
}

.filters {
<<<<<<< HEAD
  position: absolute;
  /* top: -1000px; */
  width: 100%;
  z-index: 2;
  background-color: white;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  /* transform: translateY(-110%); */
  /* transition: transform 0.5s ease-in-out; */
  /* transition: top 0.5s ease-in-out; */
}

.filters.show {
  max-height: 100%;
  /* transform: translateY(0%); */
  /* top: 0; */
}

.offers {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  margin: 0 auto;
=======
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  transform: translateY(-110%);
  transition: transform 0.5s ease-in-out;
  height: fit-content;
}

.filters.show {
  transform: translateY(0%);
}

.offers {
  width: 100%;
  height: fit-content;
>>>>>>> 2a409a2a7127c6170586dce913d334e1b1f341ca
  margin-top: 25px;
}

.offer_card {
  background-color: #2b2f32;
  border-radius: 5px;
  width: 300px;
  height: 350px;
  margin: 15px;
<<<<<<< HEAD
=======
  float: left;
>>>>>>> 2a409a2a7127c6170586dce913d334e1b1f341ca
  padding: 10px;
  color: #fff;
}

.offer_card:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.offer_card_image {
  width: auto;
<<<<<<< HEAD
  height: 70%;
=======
  height: 75%;
>>>>>>> 2a409a2a7127c6170586dce913d334e1b1f341ca
}

.offer_card_name h3 {
  font-size: large;
  font-weight: bold;
}

.offer_card_name_author {
  font-style: italic;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2a409a2a7127c6170586dce913d334e1b1f341ca
