.filters {
  position: absolute;
  /* top: -1000px; */
  width: 100%;
  z-index: 2;
  background-color: white;
  /* max-height: 0; */
  /* transition: max-height 0.5s ease-in-out; */
  /* overflow: hidden; */
  transform: translateY(-150%);
  transition: transform 0.5s ease-in-out;
  /* transition: top 0.5s ease-in-out; */
}

.filters.show {
  /* max-height: fit-content; */
  /* overflow: unset; */
  transform: translateY(0%);
  /* top: 0; */
}
