
.user-view {
  background-color: #555555;
  display: flex;
  margin: 10% auto;
  justify-content: flex-start;
  width: 70%;
  padding: 1% 3%;
  border-radius:  10px;
}
.user-menu-wrap {
  width: 35%;
}
.user-account-settings-wrap,
.user-delivery-address-wrap,
.user-invoice-data-wrap,
.user-profile-wrap
{
  width: 65%;
  text-align: center;
  margin: 0 auto;
}