/* 
#555555
#108df3 
*/

.user-profile-wrap h2 {
  font-size: 2rem;
}
.user-profile-wrap .user-profile-form {
  color: white;
}
.user-profile-wrap .user-profile-form label{
  display: block;
}
.user-profile-wrap .user-profile-form label input {
  display: block;
  margin: 10px auto;
  border: black solid 2px;
  border-radius: 5px;
  padding: 7px;
  font-size: 0.9rem;
}
.user-profile-wrap .user-profile-form textarea {
  margin: 10px auto;
  border: black solid 2px;
  border-radius: 5px;
  font-size: 0.9rem;
  max-width: 70%;
  min-width: 10%;
  max-height: 200px;
}
.user-profile-wrap .user-profile-form label input:focus, .user-profile-wrap .user-profile-form textarea:focus {
  border-color: #108df3;
  outline: none;
}
.user-profile-wrap .user-profile-form input[type=submit] {
  font-size: 0.9rem;
  padding: 7px;
  border: black solid 2px;
  border-radius: 5px;
  cursor: pointer;
}
.user-profile-wrap .user-profile-form input[type=submit]:hover, .user-profile-wrap .user-profile-form input[type=submit]:focus {
  background-color: #108df3;
  color: white;
  outline: unset;
  border-color: #108df3;
}